@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.font-kaisei {
  font-family: var(--font-kaisei);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-main-gradient {
  background: linear-gradient(180deg, #d39a55 0%, #c0792f 45%, #b0641d 100%);
}

.header-blur {
  backdrop-filter: blur(68px);
  -webkit-backdrop-filter: blur(68px);
  background: rgba(0, 0, 0, 0.25);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
